<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=393, initial-scale=1.0">
  <title>이마</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
      <div class="status-bar"></div>

      <button class="back-button" onclick="history.back();">
        <img src="{{ url_for('static', filename='images/back.svg') }}" alt="뒤로가기">
      </button>


      <img class="face-image" src="https://raw.githubusercontent.com/NIS-co-create/acne-CV/main/app_image/test.jpg" alt="face Image">

      <div class="card">
        <div class="card-title">결과</div>
        <div class="card-content">
          이마에 뾰루지가 났어요.<br>
          이마의 뾰루지는 스트레스가 원인이에요.<br>
          스트레스를 줄여줄 수 있는 식재료를 소개해 드릴게요.
        </div>
      </div>

      <div class="card">
        <div class="card-title">추천 음식</div>
        <div class="image-container">
          <img class="card-image" src="https://github.com/NIS-co-create/acne-CV/blob/main/app_image/%EB%B8%8C%EB%A1%9C%EC%BD%9C%EB%A6%AC.png?raw=true" alt="food Image">
          <img class="card-image" src="https://github.com/NIS-co-create/acne-CV/blob/main/app_image/%EA%B3%A0%EA%B5%AC%EB%A7%88.png?raw=true" alt="food Image">
        </div>
      </div>

      <div class="card">
        <img class="icon" src="https://raw.githubusercontent.com/NIS-co-create/acne-CV/app_image/Info.svg" alt="info">
        <div class="card-content2">
          고당류 섭취를 피하세요.<br>
          가공 식품을 멀리하세요.<br>
          카페인 섭취를 줄여보세요.
        </div>
      </div>

      <div class="button-container">
        <div class="button">다시찍기</div>
        <div class="button" id="save-button">저장하기</div>
      </div>

      <div class="menu"></div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on("click", "#save-button", function() {
        var results = { total_acne_count: "{{ results.total_acne_count }}", max_acne_part: "{{ results.max_acne_part }}" };
        $.ajax({
            type: "POST",
            url: "/save_result",
            contentType: "application/json",
            data: JSON.stringify(results),
            success: function(response) { alert("✅ 저장되었습니다!"); },
            error: function(xhr, status, error) { alert("❌ 저장 실패: " + xhr.responseText); }
        });
    });
});
</script>

</html>
