<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=393, initial-scale=1.0">
    <title>분석</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container">

      <!-- 상태바 -->
      <div class="status-bar">
      </div>
      <div style="height: 130px; width: 100%;"></div>
      <!-- 프로필 이미지 -->
      <img class="face-image" src="https://raw.githubusercontent.com/NIS-co-create/acne-CV/main/app_image/test.jpg" alt="face Image">

      <div class="large-button-container">
        <div class="button button-large">사진 등록</div>
        <div class="button button-large">사진 등록</div>
        <div class="button button-large">사진 등록</div>
      </div>


      <div class="menu">
      </div>


    </div>
  </body>

</html>