<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=393, initial-scale=1.0">
    <title>첫 화면</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <!-- 상태 바 -->
        <div class="status-bar"></div>

        <div class="intro-container">
            <div class="logo-container">
                <div class="logo"></div>
            </div>
            <div class="description">
                피부가 보내는 신호를 분석하여<br>건강한 식습관 만들기
            </div>
            <div class="start-button-container">
                <button class="start-button"></button>
            </div>
        </div>

    </div>

</body>
</html>
